<<<<<<< HEAD
<<<<<<< Updated upstream
body {
    background-color: aquamarine;
=======
body {
    background-color:rgb(24, 23, 23);
>>>>>>> 4f1bd8dfddd8f73f5ef56d1e9bb3cab42ebb9e42
}
img {
    width: 25%;
    height: auto;
}

.center {
    text-align: center;
    margin: 0 auto;
    display: block;
    width: 50%;
  }

  .about-me-body {
<<<<<<< HEAD
      background-color: purple;
  }