body {
    background-color:rgb(24, 23, 23);
}
img {
    width: 25%;
    height: auto;
}

.center {
    text-align: center;
    margin: 0 auto;
    display: block;
    width: 50%;
  }

  .about-me-body {
      background-color: rgb(100, 15, 15);
  }
